h1{
    color: red;
    font-family: 'Georgia'; 
}
h2{
    color: grey;
    text-decoration: underline;
}
p span{
    color: #c93609;
}
ol {
    list-style-type: upper-roman;
  }
a:active{
    color:aqua;
}